<div [style.width.px]="width" [style.height.px]="height" style="position:relative" (click)="click()">
<svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;">
  
  <polygon class="hex" 
  [attr.points]="points" [style.fill]="color" [style.stroke]="tile.selected ? '#FF0000' : '#000000'" ></polygon>
  
</svg>
<div [style.width.px]="width" [style.height.px]="height" style="align-items:center;justify-content:center;text-align:center;position:absolute; display:flex;">
<div><ng-content></ng-content></div>
</div>

</div>