<h1>Hex Grid</h1>
<ng-container cdkDropListGroup>
    <div id="grid">
        <div class="hex-row" *ngFor="let y of (gridHeight | range)">
            <app-hex *ngFor="let x of (gridWidth | range)" [tile]="game.tiles[y][x]">
                <span
                    style="display:flex;width:75px;height:100px;align-items:center;justify-content:center;"
                    cdkDropList
                    cdkDropListConnectedTo="shop"
                    (cdkDropListDropped)="drag(x,y,'cdkDropListDropped', $event)"
                    [cdkDropListEnterPredicate]="canDrag(x,y)"
                >
                    <ng-container *ngIf="game.tiles[y][x].village"
                        ><img [src]="game.tiles[y][x].village.image"
                    /></ng-container>
                    <ng-container *ngIf="game.tiles[y][x].grave"
                        ><img [src]="game.tiles[y][x].grave.image"
                    /></ng-container>
                    <ng-container *ngIf="game.tiles[y][x].pawn"
                        ><img [src]="game.tiles[y][x].pawn.image"
                    /></ng-container>
                    {{ x }},{{ y }}
                </span>
            </app-hex>
        </div>
    </div>

    <div><button (click)="game.newTurn()">New Turn</button></div>
    <div style="" *ngIf="game.selectedRealm as realm">
        <div>Balance: {{ realm.village.balance }}</div>
        <div>Income: {{ realm.income }}</div>
        <div>Upkeep {{ realm.upkeep }}</div>
        <fieldset *ngIf="realm.village.balance > 10 && realm.tiles[0].player === game.me" cdkDropList #shop>
            <legend>Shop</legend>
            <div
                style="display:inline-block;"
                *ngIf="realm.village.balance > 10"
                cdkDrag
                [cdkDragData]="{type: 'villager', source:realm.village,realm: realm}"
            >
                <img src="./assets/villager.png" />
                <!-- @TODO find a way to make this autoconfig to destination square -->
                <img *cdkDragPreview src="./assets/villager.png" />
            </div>
            <div style="display:inline-block;" *ngIf="realm.village.balance > 20" cdkDrag [cdkDragData]="{type: 'castle', source:realm.village,realm: realm}">
                <img src="./assets/castle.png" />
            </div>
            <!--(click)="game.buyCastle(realm.village)"  -->
        </fieldset>
    </div>
</ng-container>
<h2>Players</h2>
<div *ngFor="let player of game.players; index as i">
    <div
        [style.backgroundColor]="player.color"
        style="height:16px;width:16px;display:inline-block;vertical-align:center;"
    ></div>
    {{ player.name }}
</div>
