app-hex {
  position:relative;
  display:inline-block;
}
app-hex:not(:first-child){
  margin-left: 50px;
}
.hex-row {
  overflow:hidden;
  margin-bottom:-48px;
}
.hex-row:nth-child(2n) {
  margin-left:75px;
}
#grid {
  margin-bottom:50px;
}
.spinner {
    width:48px;
    height:48px;
    position:absolute;
    z-index: 1;
}
.pawn {
    z-index: 2;
}
