app-hex {
  position:relative;
  display:inline-block;
}
app-hex:not(:first-child){
  margin-left: 50px;
}
.hex-row {
  overflow:hidden;
  margin-bottom:-48px;
}
.hex-row:nth-child(2n) {
  margin-left:75px;
}
#grid {
  margin-bottom:50px;
}
